.block {

}

.menu {
    list-style-type: circle;
    padding: 0 1.53vw;
}

.menu h2 {
    font-size: 2.22vw;
    line-height: 2.57vw;
    text-align: center;
    font-weight: 700;
}

.menu li {
    margin: 0.90vw 0.97vw;
    font-size: 1.67vw;
    line-height: 1.94vw;
    list-style-type: circle;
}

.menu a{
    color: var(--text-color);
}

.active {
    color: var(--light-blue);
}

.active a{
    color: var(--light-blue);
}