.block {
    display: flex;
    max-width: 100%;
}

.block label {
    white-space: nowrap;
    border-radius: 0.69vw 0 0 0.69vw;
    background-color: var(--light-blue);
    color: var(--bg-color);
    padding: 0.28vw 0.42vw;
    font-size: 1.25vw;
    line-height: 1.46vw;
}
.block input {
    width: 100%;
    border-radius: 0 0.69vw 0.69vw 0;
    border: 0.07vw solid #C5C5C5;
    padding: 0.28vw 0.56vw;
    font-size: 1.25vw;
    line-height: 1.46vw;
}

.block input:focus {
    outline: none;
}