.step {
    width: 22.01vw;
    min-height: 15vw;
    padding: 1.04vw 2.78vw;
    background-color: var(--light-blue);
    border-radius: 1.04vw;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step_num {
    font-size: 2.08vw;
    line-height: 2.43vw;
    width: 4.72vw;
    height: 4.72vw;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    border-radius: 100%;
    border: 0.49vw solid var(--bg-color);
}

.step p {
    text-align: center;
    margin-top: 1.74vw;
    font-size: 1.74vw;
    line-height: 2.01vw;
    font-weight: 700;
}