.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu_link a{
    position: relative;
    color: var(--text-color);
    font-size: 1.71vw;
    line-height: 2.08vw;
    font-weight: 700;
}

.nav_menu_link button {
    font-size: 1.71vw;
    line-height: 2.08vw;
    font-weight: 700;
    padding: 17px 18px;
    color: var(--bg-color);
    background-color: var(--light-blue);
    border-radius: 10px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.auth_block {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.auth_block_nav {
    width: 31.25vw;
    padding: 1.18vw 2.36vw;
    background-color: var(--light-blue);
}

.auth_block_nav button {
    display: block;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 1.04vw;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
    padding: 0.63vw 0;
}

.auth_block_nav button:first-child {
    margin-bottom: 1.04vw;
}

.auth_block_form {
    padding: 1.67vw 0 1.67vw 2.36vw;
}

.auth_form {
    overflow-y: auto;
    max-height: 76.5vh;
    padding-right: 2.36vw;
}

.auth_form::-webkit-scrollbar {
    width: 10px;
}

.auth_form::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.auth_form::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--light-blue);
}

.auth_form h3 {
    text-align: center;
    font-size: 1.53vw;
    line-height: 1.74vw;
    margin-bottom: 2.08vw;
}

.auth_form button {
    display: block;
    width: 100%;
    background-color: var(--light-blue);
    color: var(--bg-color);
}