.small_input, .big_input {
    background: #D9D9D9;
    border-radius: 0.69vw;
    border: none;
}

.small_input:focus, .big_input:focus {
    outline: none;
}

.small_input {
    font-size: 1.39vw;
    line-height: 1.60vw;
    padding: 0.76vw 0.83vw;
}

.big_input {
    font-size: 2.08vw;
    line-height: 2.43vw;
    padding: 1.04vw 1.67vw;
}